* {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    
    /*position: -webkit-sticky; /* Necessário para funcionar no Safari */
    /* position: sticky; */
    /* top: 0; */
}
.menu {
    background-color: #666666;
    text-align: center;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    display: block;
    color: #FFFFFF;
    padding: 30px 10px;
}
.main {
    padding: 50px 0;
}
.content {
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: #eff0f1;
    height: 1000px;
}
.content h1 {
    margin-bottom: 30px;
}
.footer {
    background-color: #eff0f1;
    text-align: center;
    padding: 50px 0;
}